@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@model Hang

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Shop Detail</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Shop Detail </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"> <img class="d-block w-100" src="../ProductsImages/@Model.AnhDaiDien" alt=""> </div>
                    </div>
                    <ol class="carousel-indicators">
                        @foreach (var item in ViewBag.lstAnh)
                        {
                            <li data-target="#carousel-example-1" data-slide-to="0" class="active">
                                <img class="d-block w-100 img-fluid" style="height:80px; width:80px;" src="../ProductsImages/@item.TenAnh" alt=""/>
                            </li>
                        }
                    </ol>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="single-product-details">
                    <h2>@Model.TenHang</h2>
                    <h5> $@Model.DonGiaBan</h5>
                    <p class="available-stock"><span> More than 20 available / <a href="#">8 sold </a></span><p>
                        <h4>Short Description:</h4>
                    <p>
                        @Model.MoTa
                    </p>
                    <ul>
                        <li>
                            <div class="form-group quantity-box">
                                <label class="control-label">Quantity</label>
                                <input class="form-control" value="1" min="1" max="20" type="number">
                            </div>
                        </li>
                    </ul>

                    <div class="price-box-bar">
                        <div class="cart-and-bay-btn">
                            <a class="btn hvr-hover" data-fancybox-close="" href="#">Buy New</a>
                            <a class="btn hvr-hover" style="cursor:pointer;color:white;" onclick="handleToAddToCart()">Add to Cart</a>
                        </div>
                    </div>

                    <div class="add-to-btn">
                        <div class="add-comp">
                            <a class="btn hvr-hover" href="#"><i class="fas fa-heart"></i> Add to wishlist</a>
                            <a class="btn hvr-hover" href="#"><i class="fas fa-sync-alt"></i> Add to Compare</a>
                        </div>
                        <div class="share-bar">
                            <a class="btn hvr-hover" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                            <a class="btn hvr-hover" href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                            <a class="btn hvr-hover" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            <a class="btn hvr-hover" href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                            <a class="btn hvr-hover" href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function handleToAddToCart() {
        let quantity = $("input[type='number']").val();
        console.log(quantity);
        let location = window.location.href;
        let productId = location.split("/").pop();
        if (productId == null || quantity == null) {
            return;
        }
        let cartPostUrl = `https://localhost:7262/api/cartapi?mahang=${productId}&quantity=${quantity}`;
        $.ajax({
            type: "POST",
            url: cartPostUrl,
            dataType: 'json',
            contentType: "application/json",
            success: () => {
                alert("Thêm vào giỏ hàng thành công");
            },
            Error: function (xhr) {
                alert(xhr.responseText)
            }
        });
    }
</script>